[submodule "lib/sol2"]
	path = lib/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "lib/nlohmann"]
	path = lib/nlohmann
	url = https://github.com/nlohmann/json
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
