[submodule "lib/sdl"]
	path = lib/sdl
	url = https://github.com/SDL-mirror/SDL
[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/lua/lua
[submodule "lib/sol2"]
	path = lib/sol2
	url = https://github.com/ThePhD/sol2.git
